.wrapper-one, .wrapper-two{
    padding-top: 80px;
    width: 100%;
    height: 100vh;
    min-height: min-content;
    position: relative;
    text-align: center;
}

.wrapper-one-parent-one{
    background-color: rgb(205, 224, 231);
    padding: 2% 0 2% 0;
    height: 80%;
    min-height: fit-content;
    box-shadow: 10px 10px 30px grey;
    position: relative;
    top: 8%;
}

.wrapper-one-parent-grid-box{
    margin-top: 2%;
    height: 80%;
    position: relative;
}

.wrapper-one-parent-one-child-one{
    height: 100%;
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
    min-height: 350px;
}

.mobile-app-login{
    height: 100%;
    width: 33.3%;
    background-image: url(img/login-app-img.png);
    position: absolute;
    left: 0;
    top: 0;

}
.mobile-app-map{
    height: 100%;
    width: 33.4%;
    background-image: url(img/map-app-img.png);
    position: absolute;
    left: 33.4%;
    top: 0;
}
.mobile-app-menu{
    height: 100%;
    width: 33.3%;
    background-image: url(img/menu-app-img.png);
    position: absolute;
    left: 66.7%;
    top: 0;
}

.mobile-app-login, .mobile-app-menu, .mobile-app-map{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.wrapper-one-parent-one-child-two{
    padding: 0 2% 0 2%;
    height: 100%;
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    min-height: fit-content;
}

.text-box-align-center{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.wrapper-two-parent-one{
    background-color: rgb(205, 224, 231);
    padding: 2% 0 2% 0;
    height: 85%;
    box-shadow: 10px 10px 30px grey;
    position: relative;
    top: 3%;
}

.wrapper-two-parent-one h2{
    height: 10%;
}

.wrapper-two-parent-one p{
    padding: 0 4%;
    height: 10%;
}

.wrapper-two-parent-grid-box{
    margin-top: 2%;
    height: 80%;
    position: relative;
}

.child-one-img{
    height: 100%;
    width: 50%;
    background-image: url(img/UN-circle-logo.png);
    background-size: 35%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.wrapper-two-parent-one-child-two{
    height: 100%;
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
}

.wrapper-two-parent-one-child-two iframe{
    width: 500px;
    height: 300px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid black;
    border-radius: 15px;
}

.wrapper-two-parent-one-child-two a{
    text-decoration: underline;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
}

@media screen and (max-width:1050px){
    .parent-two-scroll-down{
        display: none;
    }

    .wrapper-two-parent-one-child-one{
        width: 30%;
    }

    .child-one-img{
        background-position: left;
    }

    .wrapper-two-parent-one-child-two{
        width: 70%;
    }
}

@media screen and (max-width:600px){
    .wrapper-one, .wrapper-two{
        height: 900px;
    }
    
    .wrapper-one-parent-one-child-one{
        height: 50%;
        width: 100%;
        position: relative;
    }
    
    .wrapper-one-parent-one-child-two{
        width: 100%;
        height: 50%;
        position: relative;
    }
    
    .wrapper-two-parent-one-child-one{
        display: none;
    }

    .child-one-img{
        display: none;
    }
    
    .wrapper-two-parent-one-child-two{
        width: 100%;
        height: 50%;
        position: relative;
    }

    
    .wrapper-two-parent-one-child-two iframe{
        width: 325px;
        height: 175px;
    }
}
